
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">


    <title>Result Visualization</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeGenderResult", "Chart")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawPieChart(result);
                    });
                }
            });
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeAgeMeanResult", "Chart")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawBarChart(result);
                    });
                }
            });
        });

        function drawPieChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Cinsiyet');
            data.addColumn('number', 'Kişi Sayısı');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.gender, obj.count]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Cinsiyete Göre Kayıtlı Kişilerin Oranı - Pie Chart",
                width: 500,
                height: 550,
                is3D: true,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('piechart_div'));

            columnChart.draw(data, columnChartOptions);
        }

        function drawBarChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Yaş Aralığı');
            data.addColumn('number', 'Yaş Ortalaması');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.range, obj.mean]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Aralıklara Göre Yaş Ortalaması - Bar Chart",
                width: 500,
                height: 550,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.ColumnChart(document
                .getElementById('barchart_div'));

            columnChart.draw(data, columnChartOptions);
        }
    </script>
</head>
<body>
    <div class="container">
        <h3 class="text-center">HOŞGELDİNİZ...</h3>
        <div class="row">
            <div class="col-6">
                <div id="piechart_div"></div>
            </div>
            <div class="col-6">
                <div id="barchart_div"></div>
            </div>
        </div>
    </div>
</body>
</html>