@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz...</h1>
    <p>
        Merhabalar, ben, Ege Üniversitesi Bilgisayar Mühendisliği 4. Sınıf öğrencisi Muhammed Salih TATAR. 
        Bu web sitesi Web Tabanlı Windows Programlama dönem projesi olarak yapılmıştır. 
        Bu web sitesinde yaşınızı hesaplayabilir ve yaş hesaplayan diğer insanlarla ilgili çeşitli istatistiksel verilere ve grafiklere ulaşabilirsiniz.
    </p>
    <br />
    <p>Bana ulaşmak için <a href="https://www.linkedin.com/in/msalihtatar/">Linkedin Adresimi Ziyaret Edin.</a>.</p>
    <p>Projelerime bakmak için <a href="https://github.com/msalihtatar">GitHub Adresimi Ziyaret Edin.</a>.</p>

</div>
